{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="d-flex p-2">
    <div class="card shadow p-4 rounded-4 mx-auto" style="width: 100%; max-width: 400px;">
        <h3 class="text-center mb-4">Login</h3>
        <form method="post" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(size=32, class="form-control", id="username", aria_describedby="usernameHelp") }}
                <div id="usernameHelp" class="form-text">We'll never share your information with anyone else.</div>
            </div>

            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(size=32, class="form-control", id="password") }}
            </div>

            <div class="mb-3 form-check">
                {{ form.remember_me(class="form-check-input", id="remember_me") }}
                <label class="form-check-label" for="remember_me">Remember me</label>
            </div>

            {{ form.submit(class="btn btn-primary w-100") }}
        </form>
    </div>
</div>
<p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
{% endblock %}