{% extends "base.html" %}

{% block title %}Sentiment Result{% endblock %}

{% block content %}


<div>
    <canvas id="myChart"></canvas>
</div>
  
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
<script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Negative', 'Neutral', 'Positive'],
        datasets: [{
          label: 'The Number of Samples',
          data: [12, 19, 23],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
</script>
{% endblock %}
